$color-filled-star: #E8D823;
$star-font-size: 15px;

.rating {
  unicode-bidi: bidi-override;
  font-size: $star-font-size;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
  color: $color-text-secondary;
}
.rating > span.fill:before {
   content: "\2605";
   position: absolute;
   color: $color-filled-star;
}
