$color-primary: #5CB8E6;
$color-text: #525252;
$color-text-secondary: #AAAEAE;

/* Header */
$header-border-top: 3px solid $color-primary;
$header-border-bottom: 1px solid $color-text;
$navbar-height: 55px;
$logo-width: 200px;

/* List */
$list-item-width: 180px;
$list-image-height: 230px;
