$logo-width: 200px;

.site-header {
  border-top: $border-lg-primary;
  border-bottom: $border-base-tertiary;
  height: $space-xxl;

  .logo-container {
    display: inline-block;
    padding: 0 $space-lg;
    img {
      width: $logo-width;
    }
  }

  .full-nav {
    list-style: none;
    display: inline-block;
    float: right;

    .nav-item {
      display: inline-block;
      margin: 0 $space-base;
      
      a {
        color: $color-secondary;
        text-decoration: none;
      }
    }
  }
}

