$border-base-primary:   1px solid $color-primary;
$border-base-secondary: 1px solid $color-secondary;
$border-base-tertiary:  1px solid $color-tertiary;
$border-lg-primary:     3px solid $color-primary;
